<div class='discover'>
  <div class="discover-heading">
    <h5 class='name-color'>
      What have you just discovered?

      <span class="close pull-right">&times;</span>
    </h5>
  </div>

  {{yield}}
</div>
