<li class="media">
  <i class="avatar avatar-color-93 avatar-letter-g avatar-md pull-left"></i>
  <div class="media-body">
    <h4 class="media-heading">{{headline}}</h4>
    <p class="discoverable" data-discoverable-id="new" data-discoverable-type="reply">
      {{leadParagraph}}
    </p>
    <ul class="list-inline">
      {{#each keywords}}
        <span class="label label-info">{{value}}</span>
      {{/each}}
    </ul>
  </div>
</li>
