/* Annotatation popup for response actions */
.discovery-button {
  display: none;
  position: absolute;
  z-index: 1051; // One index level higher than bs model ;)
}

.visible {
  display: block;
  box-shadow: 1px 1px 10px #dddddd;
}

.discover {
  width: 325px;
  border-radius: 4px;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fcfcfc, #eeeeee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eeeeee);
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  ul {
    margin-bottom: 0;
  }
}

.discover-heading {
  padding: 7px;
  border-bottom: 1px solid #a7a7a7;
  h5 {
    font-weight: 400;
    font-size: 16px;
    color: #00acee;
    // color: #333;
  }
}

.discover-body {
  max-height: 145px;
  overflow: scroll;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .list-group-item {
    border-right: none;
    border-left: none;
  }
}

.discover-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1050; // Several index levels lower than discovery button ;)
}

.response-action-container {
  padding: 5px;
  text-align: center;
  a {
    text-decoration: none;
    display: inline-block;
    margin: 3px;
  }
}
